* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Definição das cores */
body {
  /* cores de texto */
  --text-white: #ffffff;
  --text-dark: #142136;

  /* cores de fundo */
  --bg-white: #ffffff;
  --bg-grey-light: #dcdcdc;
  --bg-blue-dark: #314e7c;
  --bg-Dark-Slate-Blue: #294e6a;

  font-family: JetBrains mono;
  line-height: 1.7;
  background-color: var(--bg-grey-light);
}
.dark {
  --text-white: #e6e6e6;
  --text-dark: #ffffff;
  --bg-grey-light: #010101;
  --bg-white: #353845;
  --bg-blue-dark: #142136;
  --bg-indigo: #7577e1;
}
